/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0px 0px;
    background-color: rgb(224, 171, 179);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(111, 47, 24);
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: rgb(194, 121, 180);
    border-bottom: 2px solid rosybrown;
}

.conteneur{
  margin: 0px 20px;
  height: 1000px;
}

.imageSpace {
    display:flex;
    justify-content: space-around;
    
    
}

.imageSpace2 {
    display:flex;
    flex-direction: column;
    width: 25%;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* ça c'est pour l'icône du titre qui bouge en haut à gauche (votre gauche hein)*/
#pulse {
    animation: pulse 3s infinite;
    font-size: xxx-large;
  }
  
  @keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 700;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  }

  body {

    margin: 8px 12px;
  }

  h1 , li {
    color: rgb(57, 14, 14);
  }

  .bloc-texte {
    background-color: rgb(208, 166, 129);
    border-radius: 70px;
    margin: 8px ;
    height: 200px;
    }

    .bloc-texte2 {
      background-color: rgb(208, 166, 129);
      border-radius: 70px;
      margin: 8px ;
      height: 250px;
      }

  h1 { 
    background-color: rgb(194, 129, 129);
    display: flex;
    justify-content: center;
    font-size: xxx-large;
  }

  body{ 
    margin: 0px 0px;
    background-image: url(wallpaper.jpg);
  }

  /* pour la police "ASSASIN DE LA POLICEEEE🗣" */
  .libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
/* J'ai besoin que vous respectiez mes boundaries, c'est essentiel pour bien communiquer */
 hr {
  color: rgb(57, 14, 14);
  background-color: rgb(57, 14, 14) ;
 }

 hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-four {
  height: 1px;
  border: 0;
  box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.164);
}

  h3, p {
    height: 40px;
    margin: 8px 12px;
  }

  /* Pour la FLASH INFO .NB: que la fonction marquee ne sera bientôt plus dispo sur la quasi totalité des navigateurs
  Si ça marche pas c'est pas de ma faute ! */

  marquee {

     color: rgb(81, 42, 81);
     font-family: "Libre Caslon Text", serif;
     font-weight: 400;
     font-style: italic;


  }

  footer {
    background-image:url(sleepyCat.jpg);
  }

 

  h1 h2 h3 h4 h5 h6 {
    margin: 8px 12px ;
  }

  #pawtrack1 {
    display: flex;
    position: relative;
    justify-content: center;
    top: -290px;
    z-index: -1;
 }



  #catdebout {
    width: 300px;
    
  }

  #catdebout2 {
    width: 400px;
    
  }

  #catdebout3 {
    width: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    top: 10px;
    right: -473px;
    z-index: -1;
  }


  #conclu {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }
  ]